[submodule "nix"]
	path = nix
	url = git@github.com:LinkNexus/nix-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:LinkNexus/nvim-config.git
[submodule "hammerspoon/Spoons/PaperWM.spoon"]
	path = hammerspoon/Spoons/PaperWM.spoon
	url = https://github.com/mogenson/PaperWM.spoon.git
